[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
psycopg2 = "*"
pytest = "*"
django-environ = "*"
pytest-django = "*"
faker = "*"
pytest-factoryboy = "*"
celery = "*"
django-celery-beat = "*"
django-celery-results = "*"
redis = "*"
pytest-cov = "*"

[dev-packages]
ipython = "*"

[requires]
python_version = "3.9"
