[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pydantic = {extras = ["dotenv", "email"], version = "*"}
sqlalchemy = "*"
alembic = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.10"
