{% extends 'base.html' %}

{% block content %}
<section id="home">
  <div class="container px-4">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <h1>Крем-брюле</h1>
        <form id="search" class="row mt-4">
        <div class="col">
          <input type="search" class="form-control" placeholder="Найти слова..." autofocus>
        </div>
      </form>
      <ul id="search-result" class="list-group"></ul>
      </div>
    </div>
  </div>
</section>
{% endblock content %}