{% extends 'users/auth_wrap.html' %}

{% block title %}Сбросить пароль | {% endblock title %}

{% block auth %}
<h2>Сбросить пароль</h2>
<p class="mb-3">Укажите свою электронную почту ниже, и мы отправим инструкцию по восстановлению пароля.</p>
<form method="post">{% csrf_token %}
  {% include 'includes/form.html' with form=form %}
    <button class="btn btn-warning" type='submit'>Сбросить мой пароль</button>
    {% if not request.user.is_authenticated %}
      <small><a class="ml-2 mt-2-5 d-inline-block" href="{% url 'users:login' %}">Страница входа</a></small>
    {% else %}
      <small><a class="ml-2 mt-2-5 d-inline-block" href="{% url 'home' %}">На главную страницу</a></small>
    {% endif %}
</form>
{% endblock %}