{% extends "users/auth_wrap.html" %}

{% block title %}New password | {% endblock title %}

{% block auth %}
  {% if validlink %}
  <h3>Новый пароль</h3>
    <p class="mb-3">Укажите новый пароль дважды, чтобы мы могли проверить, что он введён правильно.</p>
    <form method="post">{% csrf_token %}
        {% include 'includes/form.html' with form=form %}
        <button class="btn btn-warning" type="submit">Изменить мой пароль</button>
    </form>
  {% else %}
    <p>Ссылка сброса пароля недействительна, возможно, уже использовалась. <a href="{% url 'password_reset' %}">Пожалуйста, запросите новую ссылку</a></p>
  {% endif %}
{% endblock %}